<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <title>Страница для регистрации</title>
</head>
<body style="background-image: url('static/image/sad.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <h1 align="center" style="color: white;">Добро пожаловать!</h1>
    <form action="" method="post" novalidate>
        <div>
        {{ form.csrf_token }}
        </div>
        <div class="container1">
            <div class="row mb-3">
                <label for="colFormLabel" class="col-sm-2 col-form-label" style="margin-top: 30px;">{{ form.login_email.label }}</label>
                <div class="col-sm-10" style="margin-top: 30px;">
                    {% for error in form.login_email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    <p>{{ form.login_email(class="form-control") }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabel" class="col-sm-2 col-form-label">{{ form.password.label(class="label") }}</label>
                <div class="col-sm-10">
                    <div class="label1">
                        {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {{ form.password(class="form-control")}}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10" style="margin-top: 30px; margin-left: 200px;">
                    {{ form.submit(type="submit", class="btn btn-outline-light") }}
                </div>
            </div>
        </div>
    </form>
</body>
</html>