<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/main_login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <title>Профиль</title>
</head>
<body style="background-image: url('static/image/sad.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
<div class="container1">
    <form action="" method="post" novalidate>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm">{{ form.submit(type="submit", class="btn btn-outline-light") }}</div>
                <div class="col-sm">{{ form.submit_return(type="submit", class="btn btn-outline-light") }}</div>
                <div class="col-sm"><a style="color: white;">
                    {{ form.submit_leave(type="submit", class="btn btn-outline-danger") }}</a></div>
            </div>
        </div>
    </form>
    <h1 align="center" style="color: white;">Здравствуй! {{ current_user.name }}</h1>
    <div style="color: white; margin-top: 300px;" align="center">
        <h4>Почта: {{ current_user.email }}
            {% if not current_user.email_is_authentication %}
                <a class="navbar-brand" style="color: red;" href="/">Почта не подтверждена</a>
            {% endif %}
        </h4>
        <h4>Пароль: **********</h4>
    </div>
    <div style="color: white;">
    {% if current_user.user_level == 5 %}
        <h1>Ваш уровень администрации 5</h1>
        <h1>Вы можете создавать космические объекты</h1>
        <h1>Редактировать космические объекты</h1>
        <h1>Удалять космические объекты</h1>
    {% elif current_user.user_level == 4 %}
        <p>Ваш уровень администрации 4</p>
        <p>Вы можете создавать космические объекты</p>
        <p>Редактировать космические объекты</p>
        <p>Удалять космические объекты</p>
    {% elif current_user.user_level == 3 %}
        <p>Ваш уровень администрации 3</p>
        <p>Вы можете создавать космические объекты</p>
    {% elif current_user.user_level == 2 %}
        <p>Ваш уровень администрации 2</p>
        <p>Вы можете создавать космические объекты</p>
    {% endif %}
    </div>
</div>
</body>
</html>