{% extends "catalog.html" %}
{% block content %}
<h1 align="center" style="color: white; margin-right: 100px;">Звездные системы</h1>
{% if not arr %}
<h1 align="center" style="color: white; margin-right: 100px;">Звездных систем пока нету</h1>
{% else %}
    <div class="container text-center" style="color: white; margin-top: 100px;" align="center">
            <div class="row">
                {% for i in arr[:4] %}
                <div class="col" style="">
                    {% if current_user.user_level >= 4 %}
                        <p><a href="/edit_star_system/{{ i.id }}" class="btn btn-outline-warning">Редактировать</a>
                        <a href="/delete_star_system/{{ i.id }}" class="btn btn-outline-danger">Удалить</a></p>
                    {% endif %}
                    {% if i.photo %}
                    <a class="navbar-brand" style="color: white;" href="/check_kosmos_body/{{ i.id }}/star_system">{{ i.name }}
                        <p><img src="{{url_for('static', filename=i.photo[7:])}}" style="width: 300px; height: 300px; object-fit: cover;  opacity: 0.7;"></p>
                    </a>
                    {% else %}
                    <div align="center">
                        <a class="navbar-brand" style="color: white;" href="/check_kosmos_body/{{ i.id }}/star_system">{{ i.name }}
                        <div style="width: 300px; height: 300px; background-color: rgba(0, 0, 0, 0.5)" align="center">
                        </div></a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if len_arr > 4 %}
                <div class="row" style="margin-top: 40px;">
                    {% for i in arr[4:] %}
                    <div class="col">
                        {% if current_user.user_level >= 4 %}
                        <p><a href="/edit_star_system/{{ i.id }}" class="btn btn-outline-warning">Редактировать</a>
                            <a href="/delete_star_system/{{ i.id }}" class="btn btn-outline-danger">Удалить</a></p>
                        {% endif %}
                        {% if i.photo %}
                        <a class="navbar-brand" style="color: white;" href="/check_kosmos_body/{{ i.id }}/star_system">{{ i.name }}
                            <p><img src="{{url_for('static', filename=i.photo[7:])}}" style="width: 300px; height: 300px; object-fit: cover;  opacity: 0.7;"></p>
                        </a>
                        {% else %}
                        <div align="center">
                            <a class="navbar-brand" style="color: white;" href="/check_kosmos_body/{{ i.id }}/star_system">{{ i.name }}<div style="width: 300px; height: 300px; background-color: rgba(0, 0, 0, 0.5)" align="center">
                            </div></a>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
    </div>
    <form action="" method="post" novalidate>
    <div align="center" style="margin-top: 50px;">
        {{ form.submit_left_page(type="submit", class="btn btn-outline-light") }}
        <span style="color: white;">{{ page }}</span>
        {{ form.submit_right_page(type="submit", class="btn btn-outline-light") }}
    </div>
    </form>
{% endif %}
{% endblock %}